<div class="container">
    <div class="row">
       <%= render 'books/list', book: @book %>

        <div class="col-lg-8">
            <h1>Users</h1>

                 <table class= "table table-striped" >
                    <tr>
                        <th colspan="" rowspan="" headers="" scope="">Image</th>
                        <th colspan="" rowspan="" headers="" scope="">Name</th>
                        <th colspan="" rowspan="" headers="" scope=""></th>
                    </tr>

                    <% @users.each do |user| %>

                    <tr>
                        <td colspan="" rowspan="" headers="" scope=""><span><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format:'jpeg', class:"img-circle pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %></span></td>
                        <td colspan="" rowspan="" headers="" scope=""><span><%= user.name %></span></td>
                        <td colspan="" rowspan="" headers="" scope=""><span><%= link_to "show", user_path(user.id) %></span></td>
                    </tr>

                    <% end %>

                </table>
        </div>
    </div>
</div>