<div class="container">
    <div class="row">
       <%= render 'books/list', book: @book %>

        <div class="col-lg-8">
            <h1>Books</h1>

                 <table>
                    <tr>
                        <th colspan="" rowspan="" headers="" scope=""></th>
                        <th colspan="" rowspan="" headers="" scope="">Image</th>
                        <th colspan="" rowspan="" headers="" scope="">Name</th>
                    </tr>

                    <% @users.each do |user| %>

                    <tr>
                        <td colspan="" rowspan="" headers="" scope=""><span><%= %></span></td>
                        <td colspan="" rowspan="" headers="" scope=""><span><%=link_to user.name, user_path(user.id) %></span></td>
                        <td colspan="" rowspan="" headers="" scope=""><span><%= user.name %></span></td>
                    </tr>

                    <% end %>

                </table>
        </div>
    </div>
</div>